%flex {
    display: flex;
}
%justfy-content-sb {
    justify-content: space-between
}
%align-items-center {
    align-items: center;
}
.flex {
    @extend %flex;

    &-space,
    &-center {
        @extend %flex;
        @extend %align-items-center;
    }
    &-center {
        justify-content: center;
    }
    &-space {
        @extend %justfy-content-sb;
    }
    &-col {
        @extend %flex;
        flex-direction: column;
    }
}
.flex-jc-sb {
    @extend %justfy-content-sb;
}
.flex-ai-c {
    @extend %align-items-center;
}
.no-shrink {
    flex-shrink: 0;
}

@function light-border($opacity) {
    @return 1px solid rgba($text-light-color, $opacity)
}

.pd-md {
    padding: 28px;
}
.scroll-y {
    overflow-y: auto;
}
.image-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.border-b {
    border-bottom:  light-border(0.1);
}

.hide {
    display: none;
}