.flex {
    display: flex;

    &-space,
    &-center {
        display: flex;
        align-items: center;
    }
    &-center {
        justify-content: center;
    }
    &-space {
        justify-content: space-between;
    }
    &-col {
        flex-direction: column;
    }
}
.flex-jc-sb {
    justify-content: space-between;
}

.pd-l-b {
    padding: 0 0 8px 16px;
}
.pd-md {
    padding: 28px;
}

$ring-variants: ("violet": #9200ff, "yellow": #d0db00, "orange": #ff7100, "blue": #00dcff);
.ring {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 16px;

    @each $name, $variant in $ring-variants {
        &--#{$name} {
            border: 2px solid $variant;
        }
    }
}

.image-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
