@import './reset';
@import './variables';
@import './typography';
@import './mixin';

body {
    height: 100vh;
    font-size: $base-font-size;
    font-family: 'Open Sans', sans-serif;
    color: $text-light-color;
    overflow: hidden;
    background-color: $primary-color;
}

.app {
    height: calc(100% - 44px);
}
