@mixin position-abs($top, $left){
    position: absolute;
    top: $top;
    left: $left;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin rounded-box($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
}

@mixin user-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}