@mixin bg-color($color){
    background-color: $color;
}

@mixin position-before-el($top, $left, $width, $height){
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}