.side-bar {
    width: 200px;
}

.navigation {        
    &-container {
        padding: 28px 20px 0 28px;
    }

    &__heading {
        padding: 20px 0 8px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__item {
        padding: 8px 0;
        cursor: pointer;

        &:last-child {
            margin-bottom: 12px;
        }

        &.active {
            color: $text-dark-color;
            font-weight: bold;
        }

        &:hover {
            background-color: #e5e6e5;
         }
    }
}
