.side-bar {
    width: 200px;
    .email-profile {
        position: sticky;
        bottom: 0;
        background-color: $primary-color;
        z-index: 10;
    }
}

.navigation {    
    padding-bottom: 12px; 
    &+& {
        border-top: light-border(0.1);
    }   
    &-container {
        padding: 28px 20px 0 28px;
    }

    &__heading {
        padding: 20px 0 8px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    &__item {
        padding: 8px 0;
        @include vendor-prefix(user-select, none);

        &.active {
            color: $text-dark-color;
            font-weight: bold;
        }

        &:hover {
            background-color: #e5e6e5;
         }
    }
}
