.btn {
    border-radius: 100px;
    width: 125px;
    height: 45px;
    font-size: 14px;
    &--primary {
        @include bg-color(#00b96e);
        box-shadow: 0 0 15px 0 rgba(7, 156, 95, 0.3);
        color: $primary-color;
    }
    &--secondary {
        @include bg-color(transparent);
        border: 2px solid rgba($text-light-color, 0.5);
        color:rgba($text-light-color, 0.8);
    }

}
